body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 600px;
    box-shadow: 0 0 10px #000;
}

section .video{
    width: 600px;
    height: 400px;
    position: relative;
}

section .video a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    background: url(../img/bg-video.jpeg) center no-repeat;
}

section .video a::before{
    content: "";
    width: 88px;
    height: 88px;
    background: url(../img/play.png) center no-repeat;
    cursor: pointer;

}

section .video iframe{
    width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1
}