body,
html {
    overflow-y: hidden !important;
    width: 100vw;
    height: 100vh;
}

.preloader{
    position: fixed;
    z-index: 99999; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    opacity: 1; 
    background-color: #fff; 
    background-image: url('https://financasdozero.com/cartao-loading.gif'); 
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    margin-top: -450px;
    color: #0bd65f; 
    font-size: 25px;
}

.center img{
    width: 150px;
    position:fixed; 
    bottom:050px; 
    left:50%; 
    margin-left: -75px;
}