.desk{
    display: flex;
}
.tab{
    display: none;
}
.mob{
    display: none;
}

.resultBox{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.resultBox .itemBox{
    width: 320px;
    height: auto;
    margin: 10px;
    border: 1px solid rgb(216, 215, 215);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    transition: border .2s, background-color .2s;
}

.resultBox .itemBox:hover{
    border: 1px solid #8b026691;
    background-color: #fc19bf09;
}

.resultBox .itemBox .topBox{
    padding-bottom: 20px;
}

.resultBox .itemBox .topBox p{
    padding: 0 5px;
    font-size: 1.2em;
}

.resultBox .itemBox .topBox a{
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 1em;
    color: rgb(52, 52, 252);
    transition: color .3s;
}

.resultBox .itemBox .topBox a:hover{
    color: #b90089;
}

.resultBox .itemBox .topBox .mediaBox{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 15px;
}

.resultBox .itemBox .topBox .mediaBox p{
    color: #b90089;
    font-size: 1.3em;
}

.resultBox .itemBox .topBox .mediaBox .mediaLeft img{
    width: 54px;
    margin-right: 20px;
}

.resultBox .itemBox .bottomBox img{
    width: 100%;
}

@media (max-width:750px){
    .desk{
        display: none;
    }
    .tab{
        display: flex;
    }
    .mob{
        display: none;
    }
}


@media (max-width:460px){
    .desk{
        display: none;
    }
    .tab{
        display: none;
    }
    .mob{
        display: flex;
    }
    .resultBox .itemBox{
        width: 95%;
    }
}