.resultBox:nth-child(2){
    display: none;
}

.resultBox:nth-child(3){
    display: none;
}

.resultBox{
    width: 100%;
    margin: auto;
    display: block;
}

.slideItems{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slideItems > *{
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
}

.slideItems > .active{
    position: relative;
    opacity: 1;
    pointer-events: initial;
}

.resultBox .itemBox{
    width: 300px;
    height: auto;
    margin: 10px;
    border: 1px solid rgb(216, 215, 215);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    transition: border .2s, background-color .2s;
}

.resultBox .itemBox:hover{
    border: 1px solid #8b026691;
    background-color: #fc19bf09;
}

.resultBox .itemBox .topBox{
    padding-bottom: 20px;
}

.resultBox .itemBox .topBox p{
    padding: 0 5px;
    font-size: 1.2em;
}

.resultBox .itemBox .topBox a{
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 1em;
    color: rgb(52, 52, 252);
    transition: color .3s;
}

.resultBox .itemBox .topBox a:hover{
    color: #b90089;
}

.resultBox .itemBox .topBox .mediaBox{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 15px;
}

.resultBox .itemBox .topBox .mediaBox p{
    color: #b90089;
    font-size: 1.3em;
}

.resultBox .itemBox .topBox .mediaBox .mediaLeft img{
    width: 54px;
    margin-right: 20px;
}

.resultBox .itemBox .bottomBox img{
    width: 100%;
}

.resultBox .slideThumb{
    display: flex;
    justify-content: center;
}

.resultBox .slideThumb > button{
    /* cursor: pointer; */
    width: 15px;
    height: 15px;
    margin: 0 20px;
    background-color: rgba(0, 0, 0, .4);
    border: none;
    border-radius: 100%;
    overflow: hidden;
}

.resultBox .slideThumb > button.active{
    background-color: #b90089;
}

.resultBox .slideNav .slideNext{
    display: none;
}

.resultBox .slideThumb > button.actve::after{
    content: "";
    display: block;
    height: inherit;
    background-color: #b90089;
    border: 3px;
}

.resultBox .slideItems .activeItems {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


@media (max-width:750px){
    .resultBox:nth-child(1){
        display: none;
    }
    .resultBox:nth-child(3){
        display: none;
    }
    .resultBox:nth-child(2){
        width: 510px;
        display: block;
    }
}


@media (max-width:420px){
    .resultBox:nth-child(1){
        display: none;
    }

    .resultBox:nth-child(2){
        display: none;
    }
    
    .resultBox:nth-child(3){
        width: 310px;
        display: block;
    }

    .resultBox .slideThumb > button{
        margin: 0 10px;
    }
}