.preloader {
    background-color: #99fac0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.progress-bar-wrapper{
    top: 0; 
    position: 
    absolute; 
    width: 100%;
}

.progress-bar {
    transition: width 0.5s ease 0s;
    background-color: #23A556; 
    width: 100%; 
    height: 5px;
}

.preloader img{
    width:250px; 
    height: auto;
}

.preloader p{
    font-weight: bold; 
    color: #23A556;
}